
Lab6/__MACOSX/Lab_06/._.DS_Store
Lab6/__MACOSX/Lab_06/._Laboratorio6_Enunciado.html
Lab6/__MACOSX/Lab_06/._Laboratorio6_Enunciado.ipynb
Lab6/__MACOSX/Lab_06/._online_retail_II.pickle
Lab6/__MACOSX/Lab_06/.ipynb_checkpoints/._Laboratorio6_Enunciado-checkpoint.ipynb
Lab6/Lab_06.zip
Lab6/Lab_06/.DS_Store
Lab6/Lab_06/.ipynb_checkpoints/Laboratorio6_Enunciado-checkpoint.ipynb
Lab6/Lab_06/Lab6/Laboratorio6_VBorquez.ipynb
Lab6/Lab_06/Laboratorio6_Enunciado.html
Lab6/Lab_06/Laboratorio6_Enunciado.ipynb
Lab6/Lab_06/online_retail_II.pickle
Proyecto/datos_proyecto_1/df_1.parquet
Proyecto/datos_proyecto_1/df_2.parquet
Proyecto/datos_proyecto_1/df_email_phone.parquet
Proyecto/datos_proyecto_1_mds7202-main.zip
